
      body {
        font-family: 'Inter', sans-serif;
      }
   
       /* Animação de Fade-In */
       .fade-in {
        animation: fadeIn 1s ease-in-out;
      }

      @keyframes fadeIn {
        0% {
          opacity: 0;
          transform: translateY(30px);
        }
        100% {
          opacity: 1;
          transform: translateY(0);
        }
      }